$zand: #fffbd9;
$font: 'Raleway', sans-serif;
$turquoise: #00a8b0;
$orange: #ffa200;
$pink: #f4416b;
$groen: #99c221;
$blauw: #0078bf;
$turquoiselight: #d9f2f3;
$blue:#1fb4e5;
$paars:#704895;
$yellow:#ffc000;